<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida</p>
<p>
  <strong>Pergunda: </strong> [{{createdAt}}] - {{ question }} <br /><br />
  <strong>Resposta: </strong> [{{answer_at}}] - {{ answer }} <br />

  <br />
</p>
